# Core functionality - changes here should be rare!
/src/app.py                   @pyaareyG
/src/backend/database.py      @pyaareyG
/src/backend/routers/auth.py  @pyaareyG

# The frontend will need refactored soon to be more object oriented.
/src/static/   @pyaareyG
